.positive-change {
	color:  green;
}

.negative-change {
	color:  red;
}

.dropdown-toggle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.section-header {
  background-color: #022851;
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.section-sub-header {
  background-color: #00C4B3;
  color: #022851;
  padding-left:  0.3em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}