.dropdown-toggle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.section-header {
  background-color: #022851;
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-weight: 700;
}

.section-sub-header {
  background-color: #00C4B3;
  color: #022851;
  padding-left:  0.3em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

/*#bc-tool-start .modal-dialog {
  font-size: 1.1rem;
}*/
#bc-tool-start.modal  {
  /*z-index:  150;*/
}
.modal-backdrop {
  /*z-index:  100;*/
}

#bc-tool-start {
  background-image:  url('../images/splashpage.jpg');
  background-position:  center;
  background-size: 100% auto;
}

#bc-tool-start .modal-header {
  border-bottom-width: 0.5rem;
}

#bc-tool-start .modal-title {
  font-size: 1.75rem;
}

#bc-tool-start .modal-content {
  background-color: #022851;
  color: white;
  border: 0;
  border-radius: 0;
}

.striped-row {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: var(--bs-table-striped-color);
}

.benefits-button {
  background-color: #FFBF00;
  color: black;
  border-color: black;
}

.benefits-button:hover {
  background-color: #FFDF80;
  color: black;
  border-color: black;
}

.benefits-button:disabled {
  background-color: #999999;
  color: black;
  border-color: black;
  opacity: 1;
}
/*
.benefits-button-disabled:hover {
  background-color: #999999;
  color: black;
  border-color: black;
  opacity: 1;
}*/