.positive-change {
	color:  green;
}

.negative-change {
	color:  red;
}

.dropdown-toggle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.section-header {
  background-color: #022851;
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.section-sub-header {
  background-color: #00C4B3;
  color: #022851;
  padding-left:  0.3em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

#bc-tool-start .modal-dialog {
  margin-top: 20rem;
  font-size: 1.75rem;
}

#bc-tool-start .modal-header {
  border-bottom-width: 0.5rem;
}

#bc-tool-start .modal-title {
  font-size: 1.75rem;
}

#bc-tool-start .modal-content {
  background-color: rgba(0, 196, 179, 0.7);
  color: black;
  border: 0;
  border-radius: 0;
}

.striped-row {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: var(--bs-table-striped-color);
}
