:root {
  --bs-font-sans-serif: "Open Sans",system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.tooltip > .tooltip-inner {
  max-width: 400px;
}

#atrc-logo {
  width: 350px;
}

#bp-logo {
  width: 225px;
}