.top-header {
	background-color: white;
	color: black;
}

.navbar {
	background-color: #022851;
}

.navbar .nav-link {
	color:  white;
	font-size: 2rem;
	font-weight:  700;
	line-height: 1.2;
}

.navbar .dropdown-menu {
	background-color: #022851;
}

.dropdown-item {
	color: white;
	font-size: 1.5rem;
	font-weight:  500;
}

.dropdown-item:focus, .dropdown-item:hover {
	background-color: #00c4b3;
	color: white;
}

.btn-restart {
	border-color: white;
	border-width: 3px;
	color: white;
	font-weight: bolder;
	border-radius: 0;
	padding: 0rem 1.5rem 0.2rem 1.5rem;
	font-size:  1.8rem;
	line-height: 2.4rem;
}

.btn-restart:hover {
	color: #00c4b3;
	border-color: #00c4b3;
}
